body {
    background-color: white;
}



.view-high-scores {
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 15px;
    color:black;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    margin:0;
}
.timer {
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 15px;
    color:black;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    margin:0;
}

.quiz-content {
    display: flex;
    justify-content: center;

    
}

#quiz-questions {
    display: none;
}

.question {
    font-family: 'Courier New', Courier, monospace;
    color: purple;
    font-size: 20px;
    font-weight: bold;
}

#answer-1{
    display:flex;
    flex-wrap:wrap;
}
#answer-2{
    display:flex;
    flex-wrap:wrap;
}
#answer-3{
    display:flex;
    flex-wrap:wrap;
}
.multp-choice-answers {
    font-family: 'Courier New', Courier, monospace;
    color: purple;
    font-size: 15px;
    font-weight: bold;
}

/* .multp-choice-answers:button hover animation for possible answers?? then add eventlistener??  */

#correct {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Courier New', Courier, monospace;
    size:50px;
    font-weight: bolder;
}

#incorrect {
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    font-family: 'Courier New', Courier, monospace;
    size:50px;
    font-weight: bolder;
}